@import url(./Componentes/Header/header.css);
@import url(./Componentes/Main/main.css);
@import url(./Componentes/Footer/footer.css);

@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');
:root {
    --cor-01: #404258;
    --cor-02: #474E68;
    --cor-03: #50577A;
    --cor-04: #6B728E;
    --cor-05: #F6B17A;
    --cor-06: #FFFD8C;
    --cor-07: #BFCFE7;

    --cor-fundo-main: linear-gradient(#6B728E, #474E68);

    --texto-header: 'Rubik Doodle Shadow', system-ui;
    --texto-main: 'Rubik Mono One', monospace;
    --texto-footer: 'Rubik Scribble', system-ui;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}