.header__componentes {
    background-color: var(--cor-04);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 5rem;
}

.header__componente {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;
}

.header__componente_img_logo {
    width: 260px;
}

.header__componente_link {
    color: var(--cor-05);
    text-decoration: none;
    font-family: var(--texto-header);
    font-size: 1.8rem;
    transition: all 0.4s;
}

.header__componente_link:hover {
    color: var(--cor-06);
    text-decoration: overline;
}