@media(max-width: 1220px) {
    .titulo {
        text-align: start;
        font-size: 2.8rem;
        margin-left: 2rem;
    }
    .container {
        margin: 2rem 0;
    }
    .container div {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 0.4rem;
        right: 1rem;
        border-radius: 0.4rem;
    }
    .caixa__ferramentas {
        display: flex;
        flex-direction: row;
        margin: 0 0.2rem;
    }
    .botao__ferramentas > span {
        font-size: 1.8rem;
    }
    .cor__input {
        width: 2.5rem;
        height: 2.5rem;
    }
    .cor__input::-webkit-color-swatch {
        border-radius: 80px;
    }
    .botao__tamanho {
        padding: 0.6rem;
    }
    .botao__tamanho > span {
        width: 80px;
    }
    .botao__tamanho[data-tamanho="5"] > span, 
    .botao__tamanho[data-tamanho="10"] > span, 
    .botao__tamanho[data-tamanho="20"] > span, 
    .botao__tamanho[data-tamanho="30"] > span {
        border-radius: 120px;
    }
}
@media(max-width: 1040px) {
    body {
        min-height: 110vh;
    }
    .titulo {
        text-align: center;
        font-size: 3.4rem;
        margin-left: 0;
    }
    .container {
        margin: 1rem 0;
    }
    .container div {
        top: 98%;
        right: 7%;
        left: 5%;
        border-radius: 1rem;
    }
}