.header__titulo {
    color: var(--cor-fonte-02);
    font-family: var(--fonte-header);
    cursor: default;
    font-size: 2.2rem;
    transition: var(--transicao-06s);
}

.header__titulo:hover {
    transform: scale(1.2);
}
