.header__menu_links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.header__menu_link {
    background-color: var(--cor-de-fundo-01);
    color: var(--cor-fonte-02);
    cursor: pointer;
    text-decoration: none;
    font-family: var(--fonte-header);
    font-size: 1.5rem;
    padding: 0.5rem 0.4rem;
    border-radius: 0.8rem;
    transition: var(--transicao-08s);
}

.header__menu_link:hover {
    background-color: transparent;
    color: var(--cor-fonte-03);
}
