.main__biografia_textos {
    display: grid;
    margin-top: 3rem;
}

.main__biografia_titulo {
    color: var(--cor-fonte-01);
    cursor: default;
    font-family: var(--fonte-main);
    font-size: 2.2rem;
}

.main__biografia_texto {
    color: var(--cor-fonte-02);
    font-family: var(--fonte-main);
    font-size: 1.4rem;
}

@keyframes pisca {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.digitando::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca 0.5s infinite;
}
