@import url(./Componentes/Campo-01-e-02/formulario__dados.css);
@import url(./Componentes/Campo-03/formulario__botao.css);

.formulario {
    background-color: var(--cor-02);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem 5rem;
    padding: 3rem 1rem;
    gap: 2rem;
    border-radius: 2rem;
}

.formulario__campo {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 80%;
}
