@import url(./Componentes/01-Componente/componente__01.css);
@import url(./Componentes/02-Componente/componente__02.css);
@import url(./Componentes/03-Componente/componente__03.css);

.header {
    background-color: var(--cor-de-fundo-02);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.8rem;
    padding: 3rem 2rem;
    border-radius: 1rem;
}

@media(max-width: 1200px) {
    .header__titulo {
        font-size: 2rem;
    }
    .header__menu_link {
        font-size: 1.38rem;
    }
}
@media(max-width: 860px) {
    .header__titulo {
        font-size: 1.9rem;
    }
    .header__menu_link {
        font-size: 1.3rem;
    }
}
@media(max-width: 840px) {
    .header {
        position: sticky;
        top: 0;
        margin-top: 0;
        padding: 2rem 1rem;
        border-radius: 0;
    }
    .header__menu_links {
        background-color: var(--cor-de-fundo-02);
        text-align: left;
        justify-content: space-around;
        position: fixed;
        top: 6.2rem;
        left: -100%;
        width: 100%;
        padding: 2rem 0;
        gap: 0;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        transition: var(--transicao-04s);
    }
    .header__menu_links.ativo {
        left: 0%;
    }
    .header__menu_link {
        background-color: transparent;
        padding: 0;
        margin: 0.5rem 0;
    }
    .div_barras {
        display: block;
    }
    .div_barras.ativo .barra:nth-child(1){
        background-color: var(--cor-fonte-03);
        transform: translateY(0.5rem) rotate(45deg);
    }
    .div_barras.ativo .barra:nth-child(2){
        opacity: 0;
    }
    .div_barras.ativo .barra:nth-child(3){
        background-color: var(--cor-fonte-03);
        transform: translateY(-0.5rem) rotate(-45deg);
    }
}
@media(max-width: 600px) {
    .header__titulo {
        font-size: 1.75rem;
    }
    .header__menu_links {
        text-align: left;
        flex-direction: column;
        position: fixed;
        top: 6.1rem;
        left: 135%;
        width: 35%;
        gap: 0.5rem;
        border-bottom-left-radius: 1.3rem;
        transition: var(--transicao-06s);
    }
    .header__menu_links.ativo {
        left: 65%;
    }
    .header__menu_link {
        font-size: 1.22rem;
    }
}


