@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
    --cor-da-fonte-branco: #fff;
    --cor-da-fonte-preta: #000;
    --cor-da-primaria-calculadora: #202020;
    --cor-da-secundaria-calculadora: #383838;
    --cor-destaque: #049ba0;
    --cor-verde: #16a34a;
    --cor-vermelha: #dc2626;
    --cor-de-fundo: linear-gradient(15deg, #3f3f3f, #202020, #0a0a0a );

}

* {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: var(--cor-de-fundo);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.recepitor {
    display: flex;
}

.calculadora {
    background-color: var(--cor-da-primaria-calculadora);
    color: var(--cor-da-fonte-branco);
    display: flex;
    flex-direction: column;
    padding: 3rem;
    border-radius: 0.8rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.titulo {
    position: relative;
    font-size: 2rem;
}

.titulo::after {
    background-color: var(--cor-destaque);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 8rem;
    height: 0.18rem;
    border-radius: 0.3rem;
    content: '';
}

.input-caixa label {
    font-weight: bold;
    font-size: 1.2rem;
}

.input-campo {
    background-color: var(--cor-da-secundaria-calculadora);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem;
    margin-top: 0.3rem;
    border-radius: 0.3rem;
}

.input-campo i,
.input-campo span {
    color: var(--cor-destaque);
    font-size: 1.3rem;
    padding: 0.6rem 1rem;
}

.input-campo input {
    background-color: transparent;
    color: var(--cor-da-fonte-branco);
    border: none;
    outline: none;
    width: 100%;
    font-size: 1.3rem;
    padding: 0 0.5rem;    
}

.input-campo input::-webkit-outher-spin-button,
.input-campo input::-webkit-inner-spin-button  {
    appearance: none;
}

.calcular {
    background-color: var(--cor-destaque);
    color: var(--cor-da-fonte-branco);
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0.5rem 0;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
}

.esconder {
    display: none;
}

.resultado {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0.8rem 0;
    border-top: 0.06rem solid var(--cor-da-fonte-branco);
}

.imc {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
}

.imc span:last-child {
    font-size: 0.8rem;
}

.descricao {
    width: 15rem;
}

.mais_info {
    padding-top: 1.5rem;
    border-top: 0.06rem solid var(--cor-da-fonte-branco);
}

.mais_info a {
    color: var(--cor-destaque);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 0.8rem;
    gap: 2rem;
    transition: color 0.8s;
}

.mais_info a:hover {
    color: var(--cor-da-fonte-branco);
    text-decoration: underline;
}

.normal {
    color: var(--cor-verde);
}

.atencao {
    color: var(--cor-vermelha);
}

@media screen and (max-width:500px) {
    .recepitor {
        width: 100%;
        height: 100%;
    }

    .calculadora {
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}