/*Index.html*/
.titulo {
    font-family: var(--fonte-do-texto);
    text-align: center;
    margin: 1rem;
}

.volta {
    position: absolute;
    top: 0.9rem;
    left: 0.6rem;
}

/* Cor de fundo dos menus */

.titulo__menu {
    color: var(--cor-fonte-branco);
    font-family: var(--fonte-do-texto);
    text-align: center;
    margin: 3rem;
}