/*Index.html*/
.main__div_nome {
    background-image: var(--cor-linear-gradient);
    color: var(--cor-fonte-branco);
    font-family: var(--fonte-do-texto);
    text-align: center;
    display: flex;
    justify-content: space-around;
    max-width: 75%;
    padding: 1rem 0;
    margin-left: 13%;
    margin-bottom: 1rem;
    border-radius: 1.8rem;
}

.main__div_texto {
    background-image: var(--cor-linear-gradient);    
    font-family: var(--fonte-do-texto);    
    max-width: 75%;    
    padding: 1rem;
    margin-left: 13%;
    margin-bottom: 1rem;
    border-radius: 1.8rem;
}

/* menus.html */

.conteudo__principal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem;
}

.main__divs {
    width: 80%;
}

.mapa_01 {
    width: 100%;
    box-shadow: 10px 10px 5px 0 #000;
    transition: all 0.8s;
}

.mapa_01:hover {
    scale: 1.1;
}

.mapa_02 {
    width: 38rem;
    box-shadow: 15px 20px 5px 0 #000;
    transition: all 0.8s;
}

.mapa_02:hover {
    scale: 1.1;
}

.subtitulo__menu {
    color: var(--cor-fonte-branco);
    font-size: var(--tamanho-do-subtitulo);
    font-family: var(--fonte-do-texto);    
    margin: 1rem;
}

.link__curiosidades {
    color: var(--cor-fonte-branco);
    font-size: var(--tamanho-do-texto);
    font-family: var(--fonte-do-texto);
    margin-top: 1rem;
}

/* curiosidades.html */

.secton__curiosidade {    
    padding: 0 2rem;
}

.div__curiosidade {
    padding: 2rem;
    margin: 4rem;
    border: solid 6px #444141;
    border-radius: 1.4rem;    
}

.div__texto_curiosidade {
    padding: 2rem;
    margin: 4rem;
    border: solid 3px #a7a0a0;
    border-radius: 0.8rem;
    transition: all 0.6s;
}

.div__texto_curiosidade:hover {
    scale: 0.9;
}

.bandeiras {
    width: 6.2rem;
    margin: 1rem;
}

.nome__pais {
    color: var(--cor-fonte-branco);
    font-family: var(--fonte-do-texto);
    font-size: var(--tamanho-do-subtitulo);
    margin: 0.8rem 0;
}
