@import url('https://fonts.googleapis.com/css2?family=Sono:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url(headers.css);
@import url(mains.css);
@import url(footers.css);

:root {
    --cor-fonte-branco: white;
    --cor-fonte-link-hover: gray;

    --cor-de-fundo: darkred;

    --cor-linear-gradient: linear-gradient(135deg, hsla(0, 100%, 27%, 1) 31%, hsla(0, 0%, 0%, 1) 76%);
    --cor-linear-gradient-footer: linear-gradient(135deg, rgb(83, 7, 7) 31%, hsla(0, 0%, 0%, 1) 76%);
    --fonte-do-link: 'Sono', sans-serif;
    --fonte-do-texto:  'Montserrat', sans-serif;

    --tamanho-do-texto: 1.2rem;  
    --tamanho-do-subtitulo: 1.6rem;  
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
}

.texto__base {
    color: var(--cor-fonte-branco);
    font-size: var(--tamanho-do-texto);
    font-family: var(--fonte-do-texto);
    margin-top: 2rem;
}

.subtitulo {
    color: var(--cor-fonte-branco);
    font-family: var(--fonte-do-texto);
    font-size: var(--tamanho-do-subtitulo);
    font-weight: 600;
    text-align: center;
    margin: 1rem;
}

.links {
    color: var(--cor-fonte-branco);
    font-family: var(--fonte-do-link);
    text-decoration: none;
}

.links:hover {
    color: var(--cor-fonte-link-hover);
    text-decoration: underline;
}

/* Imagem no Fundo da Tela do Index.html */

.pagina__principal {
    overflow: hidden;
}

.imagem__abaixo {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.imagem__principal {
    width: 100%;
    height: 100%;
}


/* menus.html */

.cor__do_fundo {
    background: var(--cor-de-fundo);
    position: absolute;    
    z-index: -1;
}

/* curiosidades.html */
