@import url(./Componentes/01-Componente/componente__01.css);
@import url(./Componentes/02-Componente/componente__02.css);
@import url(./Componentes/03-Componente/componente__03.css);

.main__contato {
    background-image: var(--cor-forte-fraca-gradient);
    display: flex;
    flex-direction: column;
    border: 0.3rem solid var(--cor-fonte-01);
    border-radius: 1rem;
    padding: 1rem 2rem;
}

@media(max-width: 1200px) {
    .main__contato_titulo {
        font-size: 2rem;
    }
    .main__contato_conteudo_i {
        font-size: 1.68rem;
    }
    .main__contato_conteudo_p {
        font-size: 1.28rem;
    }
    .main__contato_conteudo_p_link {
        font-size: 1.38rem;
    }
}
@media(max-width: 950px) {
    .main__contatos {
        flex-direction: column;
        justify-content: none;
        align-items: center;
        gap: 2rem;
    }
}
@media(max-width: 860px) {
    .main__contato_titulo {
        font-size: 1.9rem;
    }
    .main__contato_conteudo_i {
        font-size: 1.52rem;
        width: 2.4rem;
    }
    .main__contato_conteudo_p {
        font-size: 1.2rem;
    }
    .main__contato_conteudo_p_link {
        font-size: 1.3rem;
    }
}
@media(max-width: 600px) {
    .main__contatos {
        align-items: start;
        gap: 1rem;
    }
    .main__contato_titulo {
        font-size: 1.75rem;
        margin: 0;
    }
    .main__contato_titulo:hover {
        transform: none;
    }
    .main__contato_conteudo_i {
        font-size: 1.45rem;
        width: 1.2rem;
    }
    .main__contato_conteudo_p {
        font-size: 1.11rem;
    }
    .main__contato_conteudo_p_link {
        font-size: 1.22rem;
    }
}
