.formulario__campo_botao {
    background-color: var(--cor-04);
    color: var(--cor-01);
    cursor: pointer;
    font-family: var(--texto-formulario);
    font-size: 2rem;
    width: 40%;
    padding: 1rem;
    margin: 0 auto;
    border: 2px solid var(--cor-01);
    border-radius: 1rem;
    transition: all 0.8s;
}

.formulario__campo_botao:hover {
    background-color: var(--cor-01);
    color: var(--cor-04);
    border: 2px solid var(--cor-04);
}
