.delivery__campo_agua .delivery__campo:nth-child(1) .delivery__campo_imagem {
    width: 140px;
    height: 250px;
}

.delivery__campo_coca_cola .delivery__campo:nth-child(1) .delivery__campo_imagem {
    width: 120px;
    height: 260px;
}
.delivery__campo_coca_cola .delivery__campo:nth-child(2) .delivery__campo_imagem, 
.delivery__campo_coca_cola .delivery__campo:nth-child(3) .delivery__campo_imagem {
    width: 110px;
    height: 200px;
}
.delivery__campo_coca_cola .delivery__campo:nth-child(4) .delivery__campo_imagem {
    width: 180px;
    height: 200px;
}

.delivery__campo_fanta .delivery__campo:nth-child(1) .delivery__campo_imagem {
    width: 140px;
    height: 240px;
}
.delivery__campo_fanta .delivery__campo:nth-child(2) .delivery__campo_imagem {
    width: 220px;
    height: 240px;
}

.delivery__campo_guarana .delivery__campo:nth-child(1) .delivery__campo_imagem {
    width: 120px;
    height: 340px;
}
.delivery__campo_guarana .delivery__campo:nth-child(2) .delivery__campo_imagem {
    width: 260px;
    height: 300px;
}

.delivery__campo_pepsi .delivery__campo:nth-child(1) .delivery__campo_imagem {
    width: 280px;
    height: 300px;
}
.delivery__campo_pepsi .delivery__campo:nth-child(2) .delivery__campo_imagem {
    width: 160px;
    height: 230px;
}

.delivery__campo_sprite .delivery__campo:nth-child(1) .delivery__campo_imagem {
    width: 140px;
    height: 200px;
}

.delivery__campo_suco_natural .delivery__campo:nth-child(1) .delivery__campo_imagem {
    width: 170px;
    height: 230px;
}

.delivery__campo_vinho .delivery__campo:nth-child(1) .delivery__campo_imagem, 
.delivery__campo_vinho .delivery__campo:nth-child(2) .delivery__campo_imagem {
    width: 200px;
    height: 260px;
}

.delivery__campo_pizza .delivery__campo:nth-child(1) .delivery__campo_imagem, 
.delivery__campo_pizza .delivery__campo:nth-child(2) .delivery__campo_imagem, 
.delivery__campo_pizza .delivery__campo:nth-child(3) .delivery__campo_imagem, 
.delivery__campo_pizza .delivery__campo:nth-child(4) .delivery__campo_imagem, 
.delivery__campo_pizza .delivery__campo:nth-child(5) .delivery__campo_imagem, 
.delivery__campo_pizza .delivery__campo:nth-child(6) .delivery__campo_imagem, 
.delivery__campo_pizza .delivery__campo:nth-child(7) .delivery__campo_imagem, 
.delivery__campo_pizza .delivery__campo:nth-child(8) .delivery__campo_imagem, 
.delivery__campo_pizza .delivery__campo:nth-child(9) .delivery__campo_imagem, 
.delivery__campo_pizza .delivery__campo:nth-child(10) .delivery__campo_imagem {
    width: 200px;
    height: 160px;
}
