@media(max-width: 900px) {
    .titulo {
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    .input {
        width: 50%;
    }
    .lista {
        padding-left: 3rem;
    }
}

@media(max-width: 670px) {
    .titulo {
        font-size: 1.6rem;
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
    .conteudo {
        margin: 0 10%;
    }
    .input {
        font-size: 1.2rem;
        width: 60%;
        padding: 0.4rem 0.6rem;
    }
    .botao__busca {
        font-size: 1.2rem;
        padding: 0.4rem;
        margin-left: 0.5rem;
    }
    .lista {
        padding-top: 5rem;
        padding-left: 5rem;
    }
    .lista p {
        font-size: 1.2rem;
    }
}

@media(max-width: 550px) {
    .lista {
        padding-left: 2rem;
    }
    .lista p {
        font-size: 1rem;
    }
    .lista p span {
        left: 7rem;
    }
}