@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

:root {
    --fonte-de-titulo: 'Space Grotesk', sans-serif;
    --fonte-de-texto: 'Quicksand', sans-serif;

    --cor-azul-01: #7fffd4;
    --cor-azul-02: #0f8a8a;
    --cor-azul-03: #0d265a;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body {
    background-color: var(--cor-azul-01);
}

.titulo {
    color: var(--cor-azul-03);
    text-align: center;
    font-family: var(--fonte-de-titulo);
    font-size: 2.8rem;
    margin: 1rem;
}

.conteudo {
    background-color: var(--cor-azul-02);
    padding: 2rem;
    margin: 0 20%;
    border-radius: 1.4rem;
}

.busca {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.input {
    background-color: var(--cor-azul-01);
    color: var(--cor-azul-03);
    outline: none;
    font-family: var(--fonte-de-texto);
    font-size: 1.3rem;
    width: 40%;
    padding: 0.6rem 0.8rem;
    border: 3px solid var(--cor-azul-03);
    border-radius: 0.6rem;
}
.input::placeholder {
    color: var(--cor-azul-03);
}

.botao__busca {
    background-color: var(--cor-azul-03);
    color: var(--cor-azul-01);
    cursor: pointer;
    font-family: var(--fonte-de-texto);
    font-size: 1.3rem;
    padding: 0.6rem;
    margin-left: 1rem;
    border: 2px solid var(--cor-azul-01);
    border-radius: 0.3rem;
    transition: all 0.6s;
}
.botao__busca:hover {
    background-color: var(--cor-azul-01);
    color: var(--cor-azul-03);
    border: 2px solid var(--cor-azul-03);
}

.lista {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 5rem;
    padding-left: 12rem;
}

.lista p {
    color: var(--cor-azul-01);
    position: relative;
    font-family: var(--fonte-de-texto);
    font-size: 1.5rem;
}

.lista p span {
    text-transform: capitalize;
    position: absolute;
    left: 10rem;
}
