@media(max-width: 520px) {
    .caixa_maior {
        max-width: 22.1rem;
        border-radius: 1.2rem;
        padding: 1.6rem;
    }
    .input_cidade {
        font-size: 1.2rem;
        border-radius: 1rem;
        padding: 1.2rem;
    }
    .botao_busca {
        border-radius: 1rem;
        padding: 1.2rem;
        margin-left: 0.5rem;
    }
    .busca {
        width: 1rem;
    }
    .caixa_media {
        margin-top: 2.1rem;
    }
    .cidade {
        font-size: 1.5rem;
    }
    .temperatura {
        font-size: 1.1rem;
    }
    .caixa_menor {
        margin-top: 1.2rem;
    }
    .texto_previsao {
        font-size: 1.1rem;
    }
    .umidade {
        font-size: 1.1rem;
    }
}
