@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

:root {
    --cor-de-fundo: linear-gradient(200deg, #0ec7ce, #09f069);
    --cor-branca-01: #fff;
    --cor-preto-01: #1a1919;
    --cor-preto-02: #353333;
    --cor-cinza-01: #8b8989;
    --cor-cinza-02: #6d6c6c;
    --cor-cinza-03: #424242;
    
    --fonte-da-pokedex: 'Play', sans-serif;
    --fonte-do-titulo: 'Nunito', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: var(--cor-de-fundo);
    width: 100%;
    min-height: 100vh;
}

.titulo {
    color: var(--cor-branca-01);
    text-align: center;
    font-family: var(--fonte-do-titulo);
    font-size: 3rem;
    padding: 1rem 0 0.2rem 0;
}

.conteudo {
    text-align: center;
    font-family: var(--fonte-da-pokedex);
}

.pokedex {
    display: inline-block;
    position: relative;
    padding: 1rem;
}

.imagem__pokemon {
    position: absolute;
    bottom: 48%;
    left: 50%;
    transform: translate(-50%, 10%);
    height: 25%;
}

.imagem__pokedex {
    width: 100%;
    max-width: 450px;
    height: 80vh;
}

.status__pokemon {
    color: var(--cor-preto-01);
    position: absolute;
    right: 26%;
    bottom: 40%;
    font-size: clamp(0.5rem, 5vw, 1.2rem);
    max-width: 200px;
}

.numero__pokemon {
    color: var(--cor-preto-02);
    letter-spacing: 0.2rem;
}

.nome__pokemon {
    color: var(--cor-cinza-01);
    text-transform: capitalize;
    letter-spacing: 0.2rem;
}

.pesquisa {
    position: absolute;
    bottom: 31%;
    left: 13%;
    width: 65%;
}

.pesquisa__pokemon {
    color: var(--cor-cinza-01);
    outline: none;
    font-family: var(--fonte-da-pokedex);
    font-size: clamp(0.4rem, 5vw, 0.9rem);
    font-weight: 700;
    min-width: 100%;
    padding: 3%;
    border: 2px solid var(--cor-preto-02);
    border-radius: 0.2rem;
    box-shadow: -3px 3px 0 var(--cor-cinza-02), -4px 4px 0 var(--cor-preto-01);
}

.pesquisa__pokemon::placeholder {
    color: var(--cor-cinza-01);
}

.botoes {
    display: flex;
    position: absolute;
    bottom: 10%;
    left: 13%;
    width: 67%;
    gap: 4%;
}

.botao {
    background-color: var(--cor-cinza-02);
    color: var(--cor-branca-01);
    font-family: var(--fonte-da-pokedex);
    font-weight: bolder;
    font-size: clamp(0.4rem, 5vw, 1.5rem);
    width: 100%;
    padding: 2% 3%;
    border: 3px solid var(--cor-preto-01);
    border-radius: 0.2rem;
    box-shadow: -3px 3px 0 var(--cor-cinza-03), -4px 5px 0 var(--cor-preto-01);
}

.botao:active {
    font-size: 1rem;
    box-shadow: inset -3px 3px 0 var(--cor-cinza-03);
}