@import url('https://fonts.googleapis.com/css2?family= Vina +Sans & display=swap');

:root {
    --cor-fundo-gradient: linear-gradient( #d83f02, #970202);
    --cor-amarelo: #f3bc06e3;
    --cor-roxa: #4704e2e3;

    --fonte-principal: 'Vina Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fonte-principal);
}

body {
    background: var(--cor-fundo-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.relogio {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 34.4rem;
    height: 12.5rem;
    border-radius: 0.2rem;
    box-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.5);
}

.relogio div {
    background-color: var(--cor-amarelo);
    color: var(--cor-roxa);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 9.4rem;
    height: 10.6rem;
    border: 0.4rem;
    box-shadow: 0.3rem 0.3rem 0.9rem rgba(0, 0, 0, 0.5);
    letter-spacing: 0.2rem;
}

.relogio span {
    font-weight: bolder;
    font-size: 3.8rem;
}

.relogio span.tempo {
    font-size: 0.7rem;
}

@media(max-width: 640px) {
    .relogio {
        display: grid;
        box-shadow: none;
        position: absolute;
        top: 5%;
        bottom: 5%;
        grid-row: 1fr 1fr 1fr;
    }
    .relogio div {
        margin: 0.5rem;
    }
}