@import url(./componentes/header__footer.css);
@import url(./componentes/main.css);
@import url(./componentes/responsividade.css);
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root {
    --cor-de-fundo: linear-gradient(#40dd19, #154908);
    --cor-do-cerebro: #d15454;
    --cor-branco: #fff;
    --cor-cinza-01: #808080;
    --cor-cinza-02: #c7c5c5;
    --cor-verde-01: #34aa16;
    --cor-verde-02: #40dd19;
    --cor-da-carta: #04695c;
    --fonte-do-texto: 'Quicksand', sans-serif;
    --fonte-do-jogo: 'Indie Flower', cursive;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background: var(--cor-de-fundo);
    min-width: 100%;
    min-height: 100vh;
}

.desabilita {
    display: none;
}