@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');

:root {
    --cor-preto-01: #070707;
    --cor-preto-02: #1b1b1b;
    --cor-vermelho-01: #ff0000;
    --cor-bege-01: #ffaaaa;
    --cor-roxo-01: #cdb6eb;

    --fonte-de-texto: 'Edu TAS Beginner', cursive;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--cor-vermelho-01);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.conteudo {
    background-color: var(--cor-preto-01);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    width: 70%;
    height: 80vh;
    padding: 2rem;
    border: 2px solid var(--cor-bege-01);
    border-radius: 1.4rem;
}

.titulo {
    color: var(--cor-roxo-01);
    font-family: var(--fonte-de-texto);
    font-size: 2.4rem;
}

.img {
    background: cover;
    height: 300px;
    border-radius: 1rem;
}

.botao {
    background-color: var(--cor-preto-01);
    color: var(--cor-roxo-01);
    cursor: pointer;
    font-family: var(--fonte-de-texto);
    font-size: 1.4rem;
    padding: 1rem 2rem;
    margin: 0 1rem;
    border: 2px solid var(--cor-bege-01);
    border-radius: 0.6rem;
    transition: all 0.6s;
}
.botao:hover {
    background-color: var(--cor-preto-02);
}

.botao:nth-child(1) {
    position: absolute;
    left: 35%;
}

#bt-nao {
    position: absolute;
}