.registro {
    background-color: var(--cor-de-fundo-do-footer);
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2% 10% 1% 15%;
    margin-top: 2rem;    
}

.divisao__registro {    
    padding: 4rem;
}

.estilo__botao {
    background-color: var(--cor-de-fundo);
    color: var(--cor-fonte);
    font-family: var(--fonte-do-link);
    cursor: pointer;
    border: none;
    border-radius: 0.4rem;
    padding: 1rem;
    margin-top: 0.8rem;
    transition: all 0.4s;
}

.estilo__botao:hover {
    scale: 0.8;
}

.form__inscricao {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.estilo__input {
    background-color: transparent;
    color: var(--cor-fonte);
    width: 100%;
    outline: none;
    font-family: var(--fonte-do-texto);
    border: solid 1px var(--cor-fonte);
    border-radius: 0.5rem;
    padding: 0.4rem;
}

@media(max-width: 890px) {
    .registro {
        grid-template-columns: 1fr;
    }
    .divisao__registro {    
        padding: 2.5rem;
    }
}

@media(max-width: 700px) {
    .divisao__registro {    
        padding: 1rem;
    }
    .estilo__botao {
        padding: 0.4rem;
    }
}