@import url(header.css);
@import url(main.css);
@import url(footer.css);
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* #251fe7 */
:root {
    --cor-de-fundo: #04009A;
    --cor-de-fundo-do-link: #8886ce;
    --cor-de-fundo-do-footer: #3b37a3;
    
    --cor-fonte: #C0FEFC;
    --cor-fonte-subtitulos: #2d8683;
    --cor-fonte-link: #251fe7;
    
    --fonte-do-link: 'Sono', sans-serif;
    --fonte-do-texto:  'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--cor-de-fundo);    
    max-width: 100%;
}

.icone__imagem {
    width: 3rem;
    height: 3rem;
}

.subtitulos {
    color: var(--cor-fonte-subtitulos);
    font-family: var(--fonte-do-texto);
    font-size: 1.6rem;
    margin-top: 0.3rem;    
    margin-bottom: 0.3rem;    
}

.texto__base {
    color: var(--cor-fonte);
    font-family: var(--fonte-do-texto);
    font-size: 1rem;
}

.section__dos_links {
    max-width: 80%;
    margin: 4% 10% 5% 15%;    
}