.main__corte_componente h3 {
    color: var(--cor-07);
    white-space: nowrap;
    font-family: var(--texto-main);
    font-size: 1.6rem;
}

.main__corte_componente_img {
    width: 160px;
    height: 200px;
}

.main__corte_componente p {
    color: var(--cor-06);
    font-family: var(--texto-main);
    font-size: 1.1rem;
}

.main__corte_componente h4 {
    color: var(--cor-05);
    font-family: var(--texto-main);
    font-size: 1.2rem;
}
