@media(max-width: 1230px) {
    .volta a {
        font-size: 1.8rem;
    }
    .volta a i:hover {
        font-size: 1.6rem;
    }
    .titulo {
        margin-top: 1.5rem;
    }
    .titulo p {
        font-size: 2.6rem;
    }
    .conteudo {
        margin-top: 2rem;
        width: 1000px;
        height: 60vh;
    }
    .slide {
        font-size: 5rem;
    }
    .navegacao__manual .botao__manual, 
    .navegacao__auto div {
        width: 2.6rem;
        height: 2.6rem;
    }
    #slide2:checked ~ .primeiro {
        margin-top: -38.45%;
    }
    #slide3:checked ~ .primeiro {
        margin-top: -77%;
    }
}
@media(max-width: 1030px) {
    .conteudo {
        margin-top: 5rem;
        width: 600px;
        height: 50vh;
    }
    .slide {
        font-size: 4rem;
    }
    .navegacao__manual .botao__manual, 
    .navegacao__auto div {
        width: 2.2rem;
        height: 2.2rem;
    }
    #slide2:checked ~ .primeiro {
        margin-top: -53.4%;
    }
    #slide3:checked ~ .primeiro {
        margin-top: -106.8%;
    }
}
@media(max-width: 730px) {
    .volta a {
        font-size: 1.4rem;
    }
    .volta a i:hover {
        font-size: 1.2rem;
    }
    .titulo {
        margin-top: 2rem;
    }
    .titulo p {
        font-size: 2rem;
    }
    .conteudo {
        margin-top: 7rem;
        width: 500px;
        height: 40vh;
    }
    .slide {
        font-size: 3rem;
    }
    .navegacao__manual .botao__manual, 
    .navegacao__auto div {
        width: 2rem;
        height: 2rem;
    }
    #slide2:checked ~ .primeiro {
        margin-top: -51.45%;
    }
    #slide3:checked ~ .primeiro {
        margin-top: -102.5%;
    }
}
@media(max-width: 520px) {
    .volta a {
        font-size: 1.2rem;
    }
    .volta a i:hover {
        font-size: 1rem;
    }
    .titulo {
        margin-top: 4rem;
    }
    .titulo p {
        font-size: 1.6rem;
    }
    .conteudo {
        margin-top: 9rem;
        width: 380px;
    }
    .slide {
        font-size: 2rem;
    }
    .navegacao__manual .botao__manual, 
    .navegacao__auto div {
        width: 1.8rem;
        height: 1.8rem;
    }
    #slide2:checked ~ .primeiro {
        margin-top: -67.5%;
    }
    #slide3:checked ~ .primeiro {
        margin-top: -134.8%;
    }
}
