@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

:root {
    --fonte-texto: 'Caveat', cursive;

    --cor-cinza-claro: #4e6e81;
    --cor-cinza-escuro: #2e3840;
    --cor-bage: #f9dbbb;
    --cor-vermelho: #ff0303;
    --cor-verde: #0dbe07;
    --cor-amarelo: #e8f808;
    --cor-branco: #fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--cor-cinza-claro);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.volta {
    position: absolute;
    top: 5%;
    left: 2%;
}

.volta a {
    color: var(--cor-bage);
    font-size: 2rem;
}

.volta a i:hover {
    color: var(--cor-vermelho);
    font-size: 1.8rem;
    transition: all 0.8s;
}

.titulo {
    color: var(--cor-bage);
    text-align: center;
    margin-top: 2rem;
}

.titulo p {
    font-family: var(--fonte-texto);
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0.4rem;
}

.conteudo {
    margin-top: 1.8rem;
    overflow: hidden;
    width: 1200px;
    height: 70vh;
}

.conteudo input {
    display: none;
}

.slide {
    color: var(--cor-branco);
    font-family: var(--fonte-texto);
    font-size: 6rem;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s1 {
    background-color: var(--cor-amarelo);
}

.s2 {
    background-color: var(--cor-verde);
}

.s3 {
    background-color: var(--cor-vermelho);
}

.navegacao__manual, 
.navegacao__auto {
    position: absolute;
    top: 90%;
    left: 30%;
    right: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.navegacao__manual .botao__manual, 
.navegacao__auto div {
    width: 3rem;
    height: 3rem;
    border: 2px solid var(--cor-cinza-escuro);
    border-radius: 50%;
    margin-bottom: 1rem;
    cursor: pointer;
}

.navegacao__manual .botao__manual:hover, 
.navegacao__auto div:hover {
    background-color: var(--cor-bage);
    transition: all 0.5s;
}

#slide1:checked ~ .primeiro {
    margin-top: 0;
}

#slide2:checked ~ .primeiro {
    margin-top: -38%;
}

#slide3:checked ~ .primeiro {
    margin-top: -76%;
}

#slide1:checked ~ .navegacao__auto .botao1__auto, 
#slide2:checked ~ .navegacao__auto .botao2__auto, 
#slide3:checked ~ .navegacao__auto .botao3__auto {
    background-color: var(--cor-bage);
}