.footer__textos {
    background-color: var(--cor-de-fundo-01);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
    border-right: 5px solid var(--cor-fonte-02);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.footer__subtitulo, 
.footer__texto {
    color: var(--cor-fonte-02);
    font-family: var(--fonte-footer);
}

.footer__subtitulo {
    font-size: 2.2rem;
}

.footer__texto {
    font-size: 1.4rem;
}
