@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
    --cor-fundo-gradient: linear-gradient(32deg, #d83f02, #970202);
    --cor-branco: #ffffff;
    --cor-preto-01: #000000;
    --cor-preto-02: #0000006e;
    --cor-preto-03: #0000001e;
    --cor-cinza: #f7f7f76e;

    --fonte-do-texto: 'Josefin Sans', sans-serif;;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--cor-fundo-gradient);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 100vh;
}

.fundo {
    color: var(--cor-branco);
}

.calculadora {
    background-color: var(--cor-preto-02);
    padding: 1.2rem;
    border-radius: 0.7rem;
}

.calculadora h1 {
    font-family: var(--fonte-do-texto);
    padding-bottom: 1rem;
}

.resultado {
    background-color: var(--cor-cinza);
    color: var(--cor-preto-01);
    text-align: end;
    font-family: var(--fonte-do-texto);
    font-size: 1.3rem;
    width: 12.6rem;
    height: 2rem;
    padding: 0.3rem;
    border-radius: 0.2rem;
}

.botao {
    background-color: var(--cor-preto-02);
    color: var(--cor-branco);
    border: none;
    cursor: pointer;
    font-family: var(--fonte-do-texto);
    font-size: 1.3rem;
    width: 3rem;
    height: 3rem;
    border-radius: 0.2rem;
    padding: 0.3rem;
    margin: 0.1rem;
}

.botao:hover {
    background-color: var(--cor-preto-03);
}
