@import url(./Componentes-Header/header-01/header-01.css);
@import url(./Componentes-Header/header-02/header-02.css);

.header__componentes {
    background-color: var(--cor-04);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 5rem;
}

.header__componente_links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;
}

@media(max-width: 1160px) {
    .header__componente_link {
        font-size: 1.4rem;
    }
}

@media(max-width: 1080px) {
    .header__componentes {
        padding: 0 1rem;
    }
    .header__componente_links {
        gap: 1rem;
    }
    .header__componente_img_logo {
        width: 160px;
        height: 140px;
    }
    .header__componente_link {
        font-size: 1.3rem;
    }
}

@media(max-width: 740px) {
    .header__componentes {
        padding: 0 5rem;
    }
    .header__componente_img_logo {
        width: 220px;
        height: 180px;
    }
    .header__componente_links {
        flex-direction: column;
        position: absolute;
        top: 7rem;
        left: -100%;
        gap: 1rem;
        z-index: 1;
    }
    .header__componente_links.ativo {
        background-color: var(--cor-01);
        left: 62%;
        padding: 1rem;
        border: 0.2rem solid var(--cor-06);
        border-radius: 0.8rem;
    }
    .header__componente_link:hover {
        text-decoration: none;
        padding-left: 0.3rem;
        border-left: 3px solid var(--cor-06);
    }
    .div_barras {
        display: block;
    }
    .div_barras.ativo .barra:nth-child(1) {
        transform: translateY(0.5rem) rotate(45deg);
    }
    .div_barras.ativo .barra:nth-child(2) {
        opacity: 0;
    }    
    .div_barras.ativo .barra:nth-child(3) {
        transform: translateY(-0.5rem) rotate(-45deg);
    }
}

@media(max-width: 700px) {
    .header__componente_links.ativo {
        left: 58%;
    }
}

@media(max-width: 660px) {
    .header__componentes {
        padding: 0 2.5rem;
    }
    .header__componente_links.ativo {
        left: 60%;
    }
}

@media(max-width: 580px) {
    .header__componentes {
        padding: 0 2rem;
    }
    .header__componente_links.ativo {
        left: 55%;
    }
}

@media(max-width: 520px) {
    .header__componentes {
        padding: 0 1rem;
    }
    .header__componente_img_logo {
        width: 180px;
        height: 140px;
    }
    .header__componente_link {
        font-size: 1.2rem;
    }
    .header__componente_links {
        top: 6rem;
        gap: 0.6rem;
    }
    .header__componente_links.ativo {
        left: 60%;
    }
}

@media(max-width: 470px) {
    .header__componente_links.ativo {
        left: 55%;
    }
}

@media(max-width: 400px) {
    .header__componente_links.ativo {
        left: 50%;
    }
}
