@import url(./Componentes/Main-biografia/main__biografia.css);
@import url(./Componentes/Main-formacao/main__formacao.css);
@import url(./Componentes/Main-contato/main__contato.css);
@import url(./Componentes/Main-projeto/main__projeto.css);

.main {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    gap: 2rem;
}
