.footer__localidade {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}

.footer__localidade div:nth-child(1) .footer__endereco, 
.footer__localidade div:nth-child(1) .footer__telefone, 
.footer__localidade div:nth-child(1) .footer__email {
    color: var(--cor-04);
    display: flex;
    font-family: var(--texto-footer);
    font-size: 1.4rem;
    gap: 1rem;
    margin: 0.8rem 0;
}

.footer__localidade div:nth-child(1) .footer__endereco i, 
.footer__localidade div:nth-child(1) .footer__telefone i, 
.footer__localidade div:nth-child(1) .footer__email i {
    color: var(--cor-01);
    transition: all 0.6s;
}

.footer__localidade div:nth-child(1) .footer__endereco i:hover, 
.footer__localidade div:nth-child(1) .footer__telefone i:hover, 
.footer__localidade div:nth-child(1) .footer__email i:hover {
    color: var(--cor-04);
}

.footer__localidade div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.6rem;
}

.footer__localidade div:nth-child(2) h2 {
    color: var(--cor-01);
    white-space: nowrap;
    font-family: var(--texto-footer);
    font-size: 2rem;
}

.footer__localidade div:nth-child(2) p {
    color: var(--cor-01);
    font-family: var(--texto-footer);
    font-size: 1.6rem;
}

.footer__localidade div:nth-child(2) p i {
    color: var(--cor-04);
}
